.diplomas {
    margin: 0;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    list-style: none;
    padding: 0;

    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.diploma {
    margin: 0;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    list-style: none;
    padding: 0;
display: grid;
        grid-template-columns: 1fr 1fr 1fr;
}

.diplomas a, .diploma a {
    color: #605e5e;
    font-weight: 500;
    padding: .25em .4em;
    text-decoration: none;
}

.diploma a {
    border: 1px solid;
    font-size: 1.125rem;
    font-weight: 700;
    padding: .85em 1.125em;
}


.diplomas a:hover{
  background-color: #605e5e;
  border-radius: 3px;
  color: #fff;
}

a.diploma-active {
    border-bottom: 2px solid;
}

.diploma a:hover{
    color: #489b9a !important;
}

.module-active {
    color: #489b9a !important;
}


.nav-active {
    border-bottom: 2px solid;
}
